<form method="POST" action="/articles">
# form that POSTs to a controller action, /articles
<p>Title</p<>
<input type="text" name="title" id="title">
<br>
<p>Content</p>
<input type="text" name="content" id="content">
<br>
<input type="submit" id="submit">
</form>